/rearWindowUnity/Library
metadata
PackageCache
ScriptAssemblies
ShaderCache
StateCache
AnnotationManager
assetDatabase3
AssetImportState
BuildPlayer.prefs
BuildSettings.asset
CurrentLayout.dwlt
EditorUserBuildSettings.asset
EditorUserSettings.asset
expandedItems
InspectorExpandedItems.asset
LastSceneManagerSetup.txt
LibraryFormatVersion.txt
MonoManager.asset
ProjectSettings.asset
ScriptMapper
ShaderCache.db
shadercompiler-UnityShaderCompiler.exe0.log
shadercompiler-UnityShaderCompiler.exe1.log
shadercompiler-UnityShaderCompiler.exe2.log
shadercompiler-UnityShaderCompiler.exe3.log
shadercompiler-UnityShaderCompiler.exe4.log
shadercompiler-UnityShaderCompiler.exe5.log
shadercompiler-UnityShaderCompiler.exe6.log
shadercompiler-UnityShaderCompiler.exe7.log
SpriteAtlasDatabase.asset
TilemapEditorUserSettings.asset
